/* start col + common */

body{
	margin-top: 40px;
	background-color: rgb(245, 245, 245);
	font-family: "Helvetica", sans-serif;
}

#container{
	width: 792px;
	margin: auto;
}

.col{
	margin-left: 15px;
	margin-right: 15px;
}

.col-6{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: rgb(220, 220, 220);
	width: 366px;
	float: left;
}

.col-6:hover{
	background-color: rgb(60, 80, 85);
}

.col-12{
	background-color: rgb(60, 80, 85);
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	height: 150px;
}

/* end col */

/*--start mainPageHeader--*/
#mainPageHeader{
	width: auto;
	height: 2em;
	border-bottom: 1px solid black;
}

#headerTittel{
	font-size: 1.7em;
}

/*--slutt mainPageHeader--*/

/*--start mainContent--*/

#mainContent{
	margin-top: 10px;
	margin-bottom: 10px;
}

h3{
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;
}

h2{
	font-size: 2em;
	text-align: center;
}

/*-- slutt mainContent --*/